* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Oswald", sans-serif;
}

#hero {
	height: 100vh;
	background: rgb(58, 154, 105);
	background: linear-gradient(276deg, rgba(58, 154, 105, 1) 8%, rgba(11, 81, 107, 1) 63%);

	h1 {
		font-size: 9.5rem;
		color: #00e18c;
	}

	p {
		color: white;
		font-size: 3rem;
	}

	#name,
	#des {
		opacity: 0;
	}

}

#outintro {
	background-image: url(pics/virat.jpg);
	background-size: cover;
	background-repeat:no-repeat;
	height:70vh;

	h1 {
		font-size: 5rem;
		color: white;
	}

	& ul {
		list-style: none;
	}

	& li::marker {
		color: white;
	}

	p {
		font-size: 4rem;
		color: white;
	}

}

#intro {
	height: 100%;
	width: 100%;
	background: #00325763;
	backdrop-filter: blur(3px);
}

.sec {
	height: 100%;
	overflow: hidden;

	h2 {
		background: -webkit-linear-gradient(#038cf7, #49b142);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		transform: translateX(1500px);
	}

	p {
		transform: translateX(-1500px);
	}

}

.container {
	img {
		width: 85%;
		height: 55vh;
		border-radius: 1rem;
		outline-offset: 10px;
		transform: scale(0.1);
	}

}

@media screen and (max-width:480px) {
	#hero {
		h1 {
			font-size: 2.5rem;
			color: #00e18c;
		}

		p {
			color: white;
			font-size: 1.5rem;
		}

	}

	#outintro {
		h1 {
			font-size: 3rem;
			color: white;
		}

		p {
			font-size: 2rem;
			color: white;
			margin: 0;
		}

	}

}
